<div class="col root">
    <div class="row space-between">
        <div class="col">
            <h2 class="heading1">Cash Kick launched succesfully</h2>
            <p class="heading3 grey">We are reviewing your cash kick</p>
        </div>
        <mat-icon style="color: white;" mat-dialog-close>close</mat-icon>
    </div>

    <div class="col align">
        <img src="./../../../assets/Rectangle.svg" alt="">
        <h2 class="heading2">Your cash kick is under review</h2>
        <p class="body1 grey">It will remain on pending state until we review it internally. This can take upto 5 mins to couple of hours.
          Once reviewed, the cash will be transferred to your account and you’ll be notified.</p>
    </div>

    <div class="row buttons">
        <app-button name="Close" mat-dialog-close 
        style1="color:white;padding: 10px;background-color: #2D2D30;height:60px;min-width:100px"></app-button>
        <app-button name="View Cash Kicks" 
         style1="color:white;padding: 10px;background-color: #6C5DD3;height:60px"></app-button>
    </div>

</div>